*{
    margin: 0;
    padding: 0;
}
body{
    background: url(road.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    display: table;
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 70px;
    border: 2px solid white;
    border-radius: 5px;
    position: relative;
    left: 70px;
    top: 255px;
}
.light{
    height:70px ;
    width: 70px;
    background-color: black;
    margin: 4px;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    line-height: 80px;
    font-family: sans-serif;
}